sudo: false
language: python
env:
  - PYTHON_VERSION=3.5
  - PYTHON_VERSION=3.4
before_install:
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - chmod +x miniconda.sh
  - ./miniconda.sh -b
  - export PATH=/home/travis/miniconda3/bin:$PATH
  - conda update --yes conda
install:
  - conda create --yes -n YAX python=$PYTHON_VERSION --file ci/conda_requires.txt
  - source activate YAX
  - pip install .
script:
  - nosetests
  - flake8 yax setup.py
